<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Jlibs : Common Utilities for Java">

    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/stylesheets/stylesheet.css">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/santhosh-tekuri/jlibs">View on GitHub</a>

          <h1 id="project_title"><a href="{{ site.baseurl }}/index.html" style="color: white">JLibs</a></h1>
          <h2 id="project_tagline">Common Utilities for Java</h2>

          <section id="downloads">
            <a class="zip_download_link" href="https://github.com/santhosh-tekuri/jlibs/releases/download/2.0/jlibs-2.0.zip">Download JLibs 2.0 Distribution</a>
          </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">For questions and feedback, please email <a href="mailto:santhosh.tekuri@gmail.com">santhosh.tekuri@gmail.com</a></p>
      </footer>
    </div>
  </body>
</html>
