pre.prettyprint {
    margin-left: 2em;
    padding: 0.5em;
    border-left: 3px solid #ccc;
}
.prettyprint .str { color: #080; }
.prettyprint .kwd { color: #008; }
.prettyprint .com { color: #800; }
.prettyprint .typ { color: #606; }
.prettyprint .lit { color: #066; }
.prettyprint .pun { color: #660; }
.prettyprint .pln { color: #000; }
.prettyprint .tag { color: #008; }
.prettyprint .atn { color: #606; }
.prettyprint .atv { color: #080; }
.prettyprint .dec { color: #606; }
